In [6]:
!pip install awswrangler --q

Keyring is skipped due to an exception: 'keyring.backends'
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
aiobotocore 2.4.1 requires botocore<1.27.60,>=1.27.59, but you have botocore 1.29.24 which is incompatible.
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import boto3
import io
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

import awswrangler as wr

import warnings
warnings.filterwarnings("ignore")

plt.style.use('seaborn-colorblind')

### set-up

In [3]:
session = boto3.Session()
s3 = session.client('s3')

In [4]:
bucket_name = "cdo-ililapse-364524684987-bucket"
file_path = "x266754/lapse/"

### pfmc

In [5]:
file_name = "x266754/lapse/pfmc_jan_jun.parquet"

In [6]:
%%time
obj = s3.get_object(Bucket = bucket_name, Key = file_name)
pfmc = pd.read_parquet(io.BytesIO(obj['Body'].read()))

CPU times: user 40 s, sys: 13 s, total: 52.9 s
Wall time: 37 s

In [7]:
pfmc[pfmc['agmt_pkge_id']=='V26808080000'][['policy_id', 'pfmc_cur_month']]

        policy_id pfmc_cur_month
723939   V2680808        2022-04
1445749  V2680808        2022-02
2456624  V2680808        2022-01
3361473  V2680808        2022-05
4262881  V2680808        2022-03

### eciw

In [8]:
file_name = "x266754/lapse/eciw_jan_jun.parquet"

In [9]:
%%time
obj = s3.get_object(Bucket = bucket_name, Key = file_name)
eciw = pd.read_parquet(io.BytesIO(obj['Body'].read()))

CPU times: user 8.08 s, sys: 3.58 s, total: 11.7 s
Wall time: 19.5 s

In [10]:
eciw['eciw_cur_month'] = eciw['as_of_hist_dt'].astype('datetime64[ns]').map(lambda x: x.strftime('%Y-%m'))
eciw['eciw_prev_month'] =  ((eciw['as_of_hist_dt'] - pd.DateOffset(months=1)).dt.to_period("M")).astype(str)

In [11]:
eciw[eciw['agmt_pkge_id']=='V26808080000'][['agmt_pkge_id', 'policy_id', 'eciw_cur_month']]

         agmt_pkge_id policy_id eciw_cur_month
531232   V26808080000  V2680808        2022-03
1044350  V26808080000  V2680808        2022-05
1946577  V26808080000  V2680808        2022-01
2749451  V26808080000  V2680808        2022-04
4408009  V26808080000  V2680808        2022-02

### merge pfmc and eciw

In [12]:
%%time
df=pfmc.merge(eciw, how='left', 
              left_on=['agmt_pkge_id','pfmc_cur_month'], 
              right_on = ['agmt_pkge_id','eciw_cur_month'],
              suffixes=('', '_remove'))
df.drop([i for i in df.columns if 'remove' in i],axis=1, inplace=True)

CPU times: user 3min 11s, sys: 1min 24s, total: 4min 35s
Wall time: 4min 35s

In [13]:
df[df['agmt_pkge_id']=='V26808080000'][['agmt_pkge_id', 'policy_id', 'pfmc_cur_month', 'eciw_cur_month']]

         agmt_pkge_id policy_id pfmc_cur_month eciw_cur_month
727368   V26808080000  V2680808        2022-04        2022-04
1452663  V26808080000  V2680808        2022-02        2022-02
2468476  V26808080000  V2680808        2022-01        2022-01
3377707  V26808080000  V2680808        2022-05        2022-05
4283430  V26808080000  V2680808        2022-03        2022-03

In [14]:
del pfmc, eciw

### clarify

In [15]:
file_name = "x266754/lapse/clarify_jan_jun.parquet"

In [16]:
%%time
obj = s3.get_object(Bucket = bucket_name, Key = file_name)
clarify = pd.read_parquet(io.BytesIO(obj['Body'].read()))

CPU times: user 813 ms, sys: 559 ms, total: 1.37 s
Wall time: 2.1 s

In [17]:
clarify['clarify_cur_month'] = clarify['SR_CREATE_DT'].astype('datetime64[ns]').map(lambda x: x.strftime('%Y-%m'))

In [18]:
clarify['SR_TYPE_CATG'] = np.where(clarify['SR_TYPE_CATG'].isnull(), 'None', clarify['SR_TYPE_CATG'])

In [19]:
clarify.head()

,POLICY_NBR,sr_create_month,num_sr_catg,max_sr_time,SR_TYPE_CATG,SR_CREATE_DT,SR_CLOSE_DT,closed,time_to_close,clarify_cur_month
0,-,2022-09,1,0.0,Corres,2022-09-09,2022-09-09,1,0.0,2022-09
1,000000,2022-02,1,120.0,Corres,2022-02-08,2022-06-08,1,120.0,2022-02
2,000000,2022-05,1,0.0,DeathMasterFileMatch,2022-05-05,2022-05-05,1,0.0,2022-05
3,0000000,2022-03,1,0.0,Corres,2022-03-03,2022-03-03,1,0.0,2022-03
4,0000000,2022-07,1,50.0,DeathMasterFileMatch,2022-07-19,2022-09-07,1,50.0,2022-07

### merge with clarify

In [20]:
%%time
df=df.merge(clarify, how='left', 
              left_on=['policy_id','pfmc_cur_month'], 
              right_on = ['POLICY_NBR','clarify_cur_month'],
              suffixes=('', '_remove'))
df.drop([i for i in df.columns if 'remove' in i],axis=1, inplace=True)

CPU times: user 3min 38s, sys: 1min 39s, total: 5min 18s
Wall time: 5min 18s

In [21]:
del clarify

In [22]:
#del df
print(df.shape)

(4957025, 269)

In [25]:
pd.set_option('max_columns', None)
df.head()

,year,month,agmt_pkge_id,vul,ul,term,aos_status_code,val_inforce_cls,kind_code,sub_kind,conv_undrwrt_code,conv_type,spec_id,premium_basis,value_basis,series,band_code,lim_db_guar_per,admin_source_cd,tax_basis,non_forf_prv,div_option,liv_ben_sig,spec_und_code,pension_code,medical_issue_cd,prem_mode,debit_indicator,rptg_country,legal_ent,branch_of_business,pgls_product_code,closed_block_stat,int_loan_typ_cd,abbr_pay_typ_cd,opr_stat_cd,wsc_ind,iss_office_inforce,cur_office_inforce,iss_res_place_id,cur_res_place_id,cur_rmo,iss_prem_mode,iss_offc_det_cd,crnt_offc_det_cd,fgn_ind,policy_part,cvrg_typ,prod_type,pln_id,gnrc_pln_id,ins_nature_cd,pln_desc,has_sps_ind,has_chld_ind,prem_pattern_cd,db_pattern_cd,liv_num,frst_scnd_dth_ind,mod_prem_num,lim_prem_sig_ind,term_cvrg_sig_ind,prem_pay_dur,prem_pay_age_num,cvrg_dur,cvrg_age_num,conv_sig_ind,conv_dur,conv_age_num,plan_type,qual_code,gi_ru_code,unisex_ind,ins_type_code,trad_intsens_code,conv_pct,lvl_prem_prd_num,enhnc_comp_ind,sngl_pay_ind,lvl_prem_prd_age,ecv_ind,lp_cntr_cd,lp_cntr_rsn_cd,lp_bill_cd,lp_bill_rsn_cd,lp_bnf_stat_cd,lp_bnf_rsn_cd,lp_canc_rsn_cd,nature,issue_age,extra_ratings,imp_rating,occ_rating,smoking_habit,pref_rating,select_rating,sex,undw_class,place_name,place_abbrev,acord_state_id,acord_ctry_id,base_face_amt,aip_face_amt,pua_face_amt,puar_face_amt,oyt_face_amt,layer_face_amt,designer_face_amt,rdr1_face_amt,rdr2_face_amt,rdr3_face_amt,rdr4_face_amt,rdr_other_face_amt,mpt_tot_act_val,mpt_3,mpt_4,mpt_1600,mpt_502,mpt_600,mpt_620,rtain_amt,ceded_amt,net_rsk_amt,units,trgt_7_pay,trgt_lmtd_pay,crnt_defcy_guar_fnd,tot_loan_prncpl,tot_loan_fnd_val,unpd_loan_int_due,annlzd_sch_prem,annlzd_bld_prem,modal_prem_sch,modal_prem_bld,grs_ropt_rdrprem_pd,base_pol_count,major_lob,lob_group,product_group,bar_feature,ny_state_specific,ttr_feature,issue_age_2nd,extra_ratings_2nd,imp_rating_2nd,occ_rating_2nd,smoking_habit_2nd,pref_rating_2nd,select_rating_2nd,gender_2nd,undw_class_2nd,base_pol_units,min_cntrct_fund,fund_lvl,holding_co_cd,policy_id,layer_units,rdr_units,layer_count,rdr_count,accum_actual_prem_paid,loan_rate,monthly_coi,prod_vers_desc,mktg_grp_desc,lnb_ind,rdr_term_ill_ind,base_fam_spo_ind,base_fam_child_ind,adb_pri_base_ind,adb_spo_base_ind,adb_layer_ind,aviation_xtra_base_ind,awp_base_ind,opai_ind,extc_ind,upb_ind,temp_xtra_base_ind,wp_base_ind,layer_ind,rdr_oyt_dsgn_ind,rdr_paidup_inc_dsgn_ind,oyt_ind,pua_base_pri_ind,pua_base_spo_ind,pua_rdr_ind,rdr_bar_ind,wp_rdr_child_ind,wp_rdr_pri_ind,wp_rdr_sps_ind,rdr_child_ind,rdr_pri_dec_term_ind,rdr_spo_dec_term_ind,rdr_pri_term_prot_ind,rdr_spo_term_prot_ind,rdr_est_prot_ind,rdr_trgt_term_ind,rdr_5rc_ind,rdr_other_ind,attained_age,attained_age_2nd,enhanced_val,conv_type_detail,policy_id_2nd,val_dt,last_up_dt,prod_issue_dt,issue_dt,reinstmt_dt,lapse_dt,xi_expiry_dt,paid_to_dt,run_dt,var_index_acct_rdr_ind,mpt_10,mpt_11,mpt_20881,run_dt_part,value_basis.1,premium_basis.1,prod_line_desc,prod_desc,prod_vers_desc.1,dtl_prod_desc,acord_prod_typ_cd,acord_prod_typ_desc,full_prod_desc,prod_grp,mktg_grp_desc.1,start_dt,end_dt,pfmc_cur_month,evnt_desc,lapse_ind,surrender_ind,reinstate_ind,evnt_3_month_ago,evnt_cur_month,household_id,subject_id,as_of_hist_dt,subj_acq_dt,mrtl_stat_cd,gndr_cd,subj_state_cd,subj_act_ind,pref_lang_cd,deceased_ind,rtl_dstrb_orphn_cd,ixi_buoyancy,ixi_fin_cohort_cd,subj_aum_amt,hhld_acq_dt,most_rcnt_pur_dt,incm_rng_cd,prim_occup_cd,prmr_prsnc_chld_ind,net_wrth_gold_cd,hhld_qdrnt_cd,wc_tot_asset_amt,wc_asset_mix_anty_amt,wc_asset_mix_bond_amt,wc_asset_mix_dep_amt,wc_asset_mix_mf_amt,wc_asset_mix_oth_asset_amt,wc_asset_mix_stk_amt,eciw_cur_month,eciw_prev_month,POLICY_NBR,sr_create_month,num_sr_catg,max_sr_time,SR_TYPE_CATG,SR_CREATE_DT,SR_CLOSE_DT,closed,time_to_close,clarify_cur_month
0,2022,4,V26680770000,YES,NaN,NaN,A,PP,CVL17,B,None,None,17093,1,30,E,None,37,V,0.0,0.0,0,N,A,0.0,B,A,N,US,AZ,None,030,0,None,0.0,None,N,KADX,KADX,5,5,7.0,A,I,I,N,BASE,PRI,LIFE,VUL II,VUL,PRI,VUL2 CVAT Var DB,0,0,LEVEL,VAR LIFE,1.0,1.0,0.0,0.0,0.0,999.0,999.0,999.0,999.0,0.0,0.0,0.0,VU2,None,None,N,L,I,0.0,999.0,None,N,999.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRI,38.0,0.0,0.0,0.0,N,None,None,M,1,CALIFORNIA,CA,6.0,1.0,2000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43377.0,0.0,43377.0,0.0,0.0,17507.0,43377.00,3400000.0,1575000.0,1575000.0,2000.00,63540.00,2000000.0,0.0,0.0,0.0,0.0,25870.00,25870.00,0.00,25870.00,0.0,1.0,Variable,VUL,Custom Premier/VUL II,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.00,0.0,0.0,P,V2668077,0.0,0.0,0.0,0.0,51740.00,0.0,116.92,Apr 2019,Accumulation (cash),N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,39.0,999.0,N,None,V2668077,2022-04-30,2020-07-17,2020-07-09,2020-07-09,NaN,None,None,2022-05-09,2022-04-29,Y,43377.00,0.0,0.00,220429.0,30.0,5.0,Variable,VUL,Sep 2014,VUL II,4.0,Variable Universal Life,VUL II - Sep 2014,Custom Premier II,Accumulation (cash),2017-01-01,NaN,2022-04,None,NaN,NaN,NaN,None,None,888888888.0,92042359.0,2022-04-29,2020-05-28,NaN,U,CA,1.0,1.0,1.0,0.0,NaN,UNK,84718.84,NaT,NaT,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04,2022-03,NaN,NaT,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
1,2022,4,R50785480000,YES,NaN,NaN,J,XI,01124,B,None,None,326,2,11,E,X,0,A,0.0,1.0,0,Y,000,0.0,0,A,N,US,AZ,301102,44K,0,F,0.0,None,N,NRFK,CMDA,47,47,2.0,A,None,None,None,BASE,PRI,LIFE,VAL,VAL,PRI,VAL-VARIABLE DB,0,0,MODIFIED,VAR LIFE,1.0,1.0,1.0,0.0,0.0,999.0,999.0,999.0,999.0,0.0,0.0,0.0,VAI,None,None,N,L,I,0.0,999.0,None,N,999.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRI,1.0,0.0,0.0,0.0,N,None,None,M,A,VIRGINIA,VA,55.0,1.0,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5091.0,0.0,0.0,0.00,0.0,0.0,0.0,50.00,0.00,0.0,0.0,0.0,0.0,0.0,341.50,341.50,341.50,341.50,0.0,1.0,Variable,Other Int-Sens,Variable Appreciable Life/VAL,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.00,0.0,0.0,P,R5078548,0.0,0.0,0.0,0.0,0.00,0.0,0.00,None,Accumulation (cash),Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,37.0,999.0,N,None,R5078548,2022-04-30,2002-12-31,1986-02-17,1986-02-17,NaN,None,2049-01-02,2002-09-17,2022-04-29,None,0.00,0.0,6998.33,220429.0,13.0,3.0,Variable,VUL,None,VAL,4.0,Variable Universal Life,VAL,Other VUL,Accumulation (cash),1997-09-30,NaN,2022-04,None,NaN,NaN,NaN,None,None,26729597.0,928889664.0,2022-04-29,1986-02-14,NaN,M,VA,1.0,1.0,1.0,2.0,8.0,F24,0.00,1986-02-14,1986-02-14,5.0,None,None,A,5.0,616259.0,12165.0,2615.0,208755.0,175581.0,13130.0,204013.0,2022-04,2022-03,NaN,NaT,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
2,2022,4,V11442870000,YES,NaN,NaN,O,UNB,ULV,B,None,None,30145,2,18,None,None,0,N,NaN,NaN,0,None,S,NaN,None,P,None,US,AZ,None,None,0,None,NaN,None,N,DTRX,DTRX,23,23,NaN,None,None,None,None,BASE,PRI,LIFE,VUL II,VUL,PRI,VUL2 Var DB,0,0,LEVEL,VAR LIFE,1.0,1.0,0.0,0.0,0.0,999.0,999.0,999.0,999.0,0.0,0.0,0.0,VU2,None,None,None,L,I,0.0,999.0,None,N,999.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRI,26.0,0.0,2.0,0.0,N,None,None,M,4,MICHIGAN,MI,27.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,500.00,17615.00,4140.0,0.0,0.0,0.0,0.0,3045.00,6000.00,0.00,500.00,0.0,1.0,Variable,VUL,Custom Premier/VUL II,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.00,0.0,0.0,P,V1144287,0.0,0.0,0.0,0.0,0.00,0.0,0.00,Pre Apr 2008,Accumulation (cash),N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,44.0,999.0,N,None,V1144287,2022-04-30,2003-10-31,2003-09-01,2003-09-01,NaN,None,None,None,2022-04-29,None,0.00,0.0,0.00,220429.0,99.0,9.0,Variable,VUL,Pre Apr 2008,VUL II,4.0,Variable Universal Life,VUL II - Pre Apr 2008,Custom Premier II,Accumulation (cash),1996-01-01,NaN,2022-04,None,NaN,NaN,NaN,None,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
3,2022,4,961793150000,YES,NaN,NaN,B,PP,01469,B,N,T,269,2,16,E,X,0,A,0.0,1.0,12,Y,008,0.0,0,P,N,US,PRU,04 K P,44K,0,F,0.0,None,N,CAM1,TRNL,31,31,2.0,P,None,F,None,BASE,PRI,LIFE,VAL,VAL,PRI,VAL NS VAR,0,0,MODIFIED,VAR LIFE,1.0,1.0,1.0,0.0,0.0,999.0,999.0,999.0,999.0,0.0,0.0,0.0,VAI,None,None,N,L,I,0.0,999.0,None,N,999.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRI,48.0,0.0,0.0,0.0,N,Y,None,M,B,NEW JERSEY,NJ,35.0,1.0,75000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42678.0,0.0,42678.0,20283.0,0.0,42678.0,20682.95,0.0,0.0,0.0,75.00,0.00,0.0,0.0,0.0,0.0,0.0,1319.16,1319.16,109.93,109.93,0.0,1.0,Variable,Other Int-Sens,Variable Appreciable Life/VAL,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.00,0.0,0.0,P,96179315,0.0,0.0,0.0,0.0,0.00,0.0,0.00,None,Accumulation (cash),Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,69.0,999.0,N,T,96179315,2022-04-30,2000-11-30,2000-08-04,2000-08-04,NaN,None,None,2022-05-04,2022-04-29,None,20682.95,0.0,0.00,220429.0,16.0,2.0,Variable,VUL,None,VAL,4.0,Variable Universal Life,VAL,Other VUL,Accumulation (cash),1997-09-30,NaN,2022-04,None,NaN,NaN,NaN,None,None,6769725.0,947528808.0,2022-04-29,1970-05-01,1.0,M,NJ,1.0,1.0,1.0,1.0,0.0,H31,82708.10,1970-05-01,2017-07-12,9.0,None,N,9,7.0,356326.0,39904.0,1004.0,173420.0,80744.0,4778.0,56476.0,2022-04,2022-03,NaN,NaT,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
4,2022,4,V27704600000,YES,NaN,NaN,A,PP,CVL17,A,None,None,17091,1,30,E,None,20,V,0.0,0.0,0,Y,A,0.0,0,A,N,US,AZ,None,030,0,None,0.0,None,N,MIL6,MIL6,23,23,5.0,A,None,None,N,BASE,PRI,LIFE,VUL II,VUL,PRI,VUL2 CVAT Lev DB,0,0,LEVEL,VAR LIFE,1.0,1.0,0.0,0.0,0.0,999.0,999.0,999.0,999.0,0.0,0.0,0.0,VU2,None,None,N,L,I,0.0,999.0,None,N,999.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRI,55.0,0.0,0.0,0.0,N,None,None,M,1,MICHIGAN,MI,27.0,1.0,409660.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46217.0,0.0,46217.0,0.0,0.0,35943.0,0.00,1329830.0,143694.0,126538.0,409.66,36250.81,409660.0,0.0,0.0,0.0,0.0,11415.65,750.00,0.00,750.00,0.0,1.0,Variable,VUL,Custom Premier/VUL II,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,409.66,0.0,0.0,P,V2770460,0.0,0.0,0.0,0.0,50780.96,0.0,32.92,Apr 2019,Accumulation (cash),Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,55.0,999.0,N,None,V2770460,2022-04-30,2022-02-11,2022-02-05,2022-02-05,NaN,None,None,2022-05-05,2022-04-29,Y,0.00,0.0,0.00,220429.0,30.0,5.0,Variable,VUL,Sep 2014,VUL II,4.0,Variable Universal Life,VUL II - Sep 2014,Custom Premier II,Accumulation (cash),2017-01-01,NaN,2022-04,None,NaN,NaN,NaN,None,None,10412536.0,649842003.0,2022-04-29,1989-04-19,NaN,M,MI,1.0,1.0,1.0,1.0,4.0,C12,47786.70,1989-04-19,2022-02-04,6.0,None,N,9,10.0,43941.0,635.0,132.0,28390.0,10404.0,310.0,4070.0,2022-04,2022-03,NaN,NaT,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN

### Export back

In [26]:
%%time
import awswrangler as wr

wr.s3.to_parquet(
    df=df2,
    path='s3://cdo-ililapse-364524684987-bucket/x266754/lapse/lapse_curated_jan_jun.parquet'
    #dataset=True
)

CPU times: user 2min 2s, sys: 21.5 s, total: 2min 24s
Wall time: 1min 55s

{'paths': ['s3://cdo-ililapse-364524684987-bucket/x266754/lapse/lapse_curated_jan_jun.parquet'],
 'partitions_values': {}}